%hr
%h3.text-primary Datos del Cliente

.form-inline
  .form-group
    = f.label :client_name, "Nombre:"
    = f.text_field :client_name, class: "form-control"
  .form-group
    = f.label :client_code, "Código:"
    = f.text_field :client_code, class: "form-control"

%hr

%h3.text-primary Productos
%table.table
  %thead
    %tr
      %th Codigo
      %th Descripcion
      %th Precio
      %th Bulto
      %th Venta minima
      %th Cantidad
      - unless f.object.new_record?
        %th Eliminar
  %tbody
    = f.fields_for :items do |ff|
      - product = ff.object.product
      %tr
        %td= product.code
        %td= product.description
        %td= product.price
        %td= product.bundle
        %td= product.minimum_sale
        %td= ff.number_field :quantity, class: "form-control quantity-field"
        - if ff.object.quantity.present?
          %td= ff.check_box :_destroy
        = ff.hidden_field :product_id, value: product.id


