%hr
%h3.text-primary Datos del Cliente

.form-inline
  .form-group
    = f.label :client_name, "Nombre:"
    = f.text_field :client_name, class: "form-control"
  .form-group
    = f.label :client_code, "Código:"
    = f.text_field :client_code, class: "form-control"

%hr

%h3.text-primary Productos
%table.table.products_table
  %thead
    %tr
      %th Codigo
      %th Descripción
      %th Precio
      %th Unidad
      %th Bulto
      %th Venta minima
      %th Cantidad
      - unless f.object.new_record?
        %th Eliminar
  %tbody
    = f.fields_for :items do |ff|
      - product = ff.object.product
      %tr
        %td.align-left= product.code
        %td.align-left= product.description
        %td= product.price
        %td= product.unit
        %td= product.bundle
        %td.js_minimum
          = product.minimum_sale
        %td
          = ff.label :quantity, class: "control-label hide"
          = ff.number_field :quantity, class: "form-control quantity-field js_quantity", data: { container: 'body', toggle: 'popover', content: 'La cantidad debe ser múltiplo de la venta mínima'}

        - if ff.object.quantity.present?
          %td= ff.check_box :_destroy
        = ff.hidden_field :product_id, value: product.id


