%h3 Datos del Cliente
= f.label :client_name, "Nombre de Cliente"
= f.text_field :client_name
= f.label :client_code, "Código de Cliente"
= f.text_field :client_code

%h3 Productos
%table.table
  %thead
    %tr
      %th Codigo
      %th Descripcion
      %th Precio
      %th Venta minima
      %th Cantidad
      - unless f.object.new_record?
        %th Eliminar
  %tbody
    = f.fields_for :items do |ff|
      - product = ff.object.product
      %tr
        %td= product.code
        %td= product.description
        %td= product.price
        %td= product.minimum_sale
        %td= ff.number_field :quantity, class: "form-control"
        - if ff.object.quantity.present?
          %td= ff.check_box :_destroy
        = ff.hidden_field :product_id, value: product.id


