%h1 Confirmar Pedido
%hr
%h2.span.text-primary
  = "#{@order.client_name} - #{@order.client_code}"

%table.table
  %thead
    %tr
      %th Codigo
      %th Descripcion
      %th Precio (Bs)
      %th Unidad
      %th Bulto
      %th Venta minima
      %th Cantidad
  %tbody
    - @order.items.each do |item|
      - product = item.product
      %tr
        %td= product.code
        %td= product.description
        %td= product.price
        %td= product.unit
        %td= product.bundle
        %td= product.minimum_sale
        %td= item.quantity

= link_to "Confirmar", thank_you_order_path(@order), class: "btn btn-success"
= link_to "Regresar", edit_order_path(@order), class: "btn btn-default"
