<!DOCTYPE html>
<html>
<head>
  <title>FerrelinkPedidos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <%= render_flash %>

  <%= yield %>

  <hr>
  <footer>
    <p class="text-muted">Ferrelink © 2010 - 2015 Todos los derechos reservados</p>
  </footer>
</body>
</html>
